# Data Science Tools and Ecosystem

**Objectives:**
- Listing popular Data Science languages
- Listing commom Data Science libraries
- List comon Data Science open source tools
- python arithemetic expression

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
 1. Python
 2. R
 3. C++
 4. SQL
 5. Julia
 6. Scala
 7. Javascript
 8. Java

Some of the commonly used libraries used by Data Scientists include:
1. SciKit-Learn
2. NumPy
3. Matplotlib
4. SciPy
5. Pandas
6. Keras

| Data Science Tools |
|------------------|
| Apache Spark      |
| jupyter Notebook  |
| R-studio          |
| Apache Flink

### Below are a few examples of evaluating arithmetic expressions in Python
1. x + Y = addition
2. x - y = Subtraction
3. X**y  = exponential
4. x/y = division
5. x > y = greater than
6. x < y = less than

In [3]:
#This a simple arithmetic expression to mutiply then add integers
print ((3*4)+5)

17

In [4]:
#This will convert 200 minutes to hours by diving by 60

print(200/60)

3.3333333333333335

## Author

Anih Nathan Chizoba